node:
  id: "pg-reverse-proxy"
  cluster: "envoy-cluster-with-spire"

static_resources:
  listeners:
    - name: ingress_https
      address:
        socket_address:
          address: 0.0.0.0
          port_value: 8443
      filter_chains:
        - filters:
            - name: envoy.filters.network.http_connection_manager
              typed_config:
                "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
                stat_prefix: ingress_http
                route_config:
                  name: local_route
                  virtual_hosts:
                    - name: local_service
                      domains: ["*"]
                      routes:
                        - match: { prefix: "/" }
                          direct_response: { status: 200, body: { inline_string: "Hello from SPIRE-protected Envoy!" } }
                http_filters:
                  - name: envoy.filters.http.router
                    typed_config:
                      "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router
          transport_socket:
            name: envoy.transport_sockets.tls
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.DownstreamTlsContext
              common_tls_context:
                tls_certificate_sds_secret_configs:
                  - name: "spiffe://sky.computing.ocp.one/legacy-db-srv" # <--- MUST MATCH YOUR SPIFFE ID
                    sds_config:
                      resource_api_version: V3
                      api_config_source:
                        api_type: GRPC
                        transport_api_version: V3
                        grpc_services:
                          envoy_grpc:
                            cluster_name: spire_agent

                 # 2. Fetch Trust Bundle (Validation Context) for mTLS (Optional)
                 # If you want to verify client certificates:
                validation_context_sds_secret_config:
                  name: "spiffe://sky.computing.ocp.one" # <--- Requesting the Trust Domain returns the Bundle
                  sds_config:
                    resource_api_version: V3
                    api_config_source:
                      api_type: GRPC
                      transport_api_version: V3
                      grpc_services:
                        envoy_grpc:
                          cluster_name: spire_agent

  clusters:
    - name: spire_agent
      connect_timeout: 0.25s
      http2_protocol_options: {} # SDS uses gRPC, so HTTP/2 is required
      load_assignment:
        cluster_name: spire_agent
        endpoints:
          - lb_endpoints:
              - endpoint:
                  address:
                    pipe:
                      # This path is INSIDE the container.
                      # Ensure you mount the host folder to this location.
                      path: /tmp/spire-agent/socket